.main-header{
    background-color: $color-page;
    border-bottom: 1px solid $color-primary;
    color: $color-font-light;
    font-family: 'PT Mono', monospace;
    letter-spacing: 0.1rem;
    min-height: 8vh;
    z-index: 2;
    width: 100%;
    position: fixed;

    @include wide-screen{
        @include flexCenter(row);
    }
    
    .nav-links{
        left: 0;
        display: none;
        @include flexCenter(column);
        overflow: hidden;
        padding: 0;
        width: 100vw;
        
        @include wide-screen{
            @include flexCenter(row);
            justify-content: space-evenly;
        }
        
        &-a{
            margin: 0.1rem;
            display: none;
            padding: 1rem 0.5rem;
            color: $color-font-light;
            font-weight: map-get($font-weights, medium);
            @include wide-screen{
                display: inline;
            }    
        }
        &-a:hover{
            color: burlywood;
            text-decoration: underline;
        }    
        
    } 
    .open {
        background-color: rgb(240, 210, 154);
        height: 100vh;
        
        .nav-links{
            &-a{
                @include flexCenter(column);
                display: block; 
                padding: 26px 50px;
            }
        }
        
    }

    &-button{
        background-color: transparent;
        border: 0;
        border-style: none;
        display: block;
        position: absolute;
        right: 0.75em;
        top: 2vh;
        width: 2.75em;
        height: 2.5em;
        cursor: pointer;
        @include wide-screen{
            display: none;
        }
        outline: none;
        .burger{
            align-items: center;
        }
        .burger, 
        .burger::before,
        .burger::after{
            position: relative;
            display: block;
            border: 0;
            border-radius: 5px;
            width: 2em;
            height: 3px;
            background-color: $color-font-light;
            transition: transform .5s ease-in-out opacity 0.5s linear;
        }
        .burger::before,
        .burger::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            
        }   

        .burger::before{ 
            bottom: 6px;
        }
        .burger::after{
            top: 6px;
        }
    }
    .toggle {
        .burger{
            transform: rotate(45deg); 
        }
        ::before{
            opacity: 0;
        }
        ::after{
            transform: rotate(90deg) translate(-6px); 
        }
        
        
    }
}