* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    scroll-behavior: smooth;
    display: grid;
    width: 100%;
    background-color: $color-page;
    color: $color-font-light;
    overflow-x: hidden;
}

// .container{
//     // display: grid;
// }
ul{
    list-style: none;
    
}
a {
    color: $color-font-light;
    text-decoration: none;
    cursor: pointer;
    
}


main{
    padding: 8vh 1vh 1vh 1vh;
    width: 100%;
    @include wide-screen{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .social-icons{
        display: inline;
        @include flexCenter(column);
        @include tablet{
            position: fixed;
            right: 0.75rem;
            top: 25%;
        }
        text-align: center;
        &:hover{
            opacity: 0.5;
        }

        li {
            &:hover{
            opacity: 1;
            }
            display: inline;
            @include tablet{
                display: block;
            }
        }

        a {
            border: 1px solid $color-primary;
            border-radius: 5px;   
            color:$color-primary;
            height: 30px;
            line-height: 30px;
            margin: 5px;
            text-decoration: none;
            transition: ease .3s;
            width: 30px;
            // display: block;
            
            &:hover{
                color: #f0e1d2;
                border: 1px solid $color-primary-light;    
            }
        }
    }
}

.footer{
    border-top:  1px solid $color-primary;
    margin-bottom: 20px;
    text-align: center;
    &-social-icons{
        padding: 0;
        text-align: center;
        
        &:hover{
            opacity: 0.5;
        }

        li {
            &:hover{
            opacity: 1;
            }
            display: inline;
            
        }

        a {
            border: 1px solid $color-primary;
            border-radius: 5px; 
            color:$color-primary;
            height: 30px;
            line-height: 30px;
            margin: 5px;
            text-decoration: none;
            transition: ease .3s;
            width: 30px;
            &:hover{
                color: #f0e1d2;
                border: 1px solid $color-primary-light;    
            }
        }
    }
    
}