.home{
    display: grid;
    height: 100%;
    overflow: hidden;
    @include flexCenter(column);
    
    // background: 
    //     linear-gradient(
    //         to right,
    //         rgba($color-primary, 0.4),
    //         rgba($color-primary, 0.2)
    //     )
    // ;
    &-name{
        border: 1px solid $color-primary;
        margin: 1em 2em 2em;
        padding: 1em;
        text-align: left;
        display: flex;
        max-width: 360px;
        ::selection {
            // background: rgb(233, 219, 219);
            color: $color-primary;
        }
        span{
            color: $color-primary;
            
        }

    }

    &-picture{
        
        margin: 4em 2em 2em;

        & img{
        border: $color-primary solid 1px;
        max-width: 360px;
        // max--height: 340px;
          
        }

    }
}