.home{
    display: grid;
    height: 100%;
    overflow: hidden;
    @include flexCenter(column);
    
    background: 
        linear-gradient(
            to right,
            rgba($color-primary, 0.4),
            rgba($color-primary, 0.2)
        )
    ;
    &-name{
        margin: 1em 3em 2em;
        text-align: left;
        span{
            color: $color-primary;
            
        }
    }

    &-picture{
        
        margin: 4em 2em 2em;

        & img{
        border: $color-primary solid 1px;
        max-width: 360px;
        // max--height: 340px;
          
        }

    }
}